body{
    background-color:#E2DDB9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.toy-body{
    background-color:#A80B0B;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
}

.screen-controls-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color:#E2DDB9;
}

.screen-container{
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: white;
    height: 350px;
    width: 350px;
}

button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 250px;
    margin-left: 60px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .grid-item {
    text-align: center;
  }